# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-lock.yaml
package-lock.json

# Env files
.env
.env.local
.env.*.local
expo-env.d.ts

# Build
/android/
/android/app/build/
/android/.gradle/
/android/local.properties

# IDE / editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Signing keys
*.keystore
*.jks
*.p12
*.pem
*.key
*.mobileprovision

# Expo
.expo/
.expo-shared/

# Misc
coverage/
*.log
